---
name: Bump golang version

on:
  workflow_dispatch:
  schedule:
    - cron: '0 20 * * 6'
  pull_request:
    paths:
      - .buildkite/bump-golang.yml
      - .github/workflows/bump-golang.yml

permissions:
  pull-requests: write
  contents: write

jobs:
  bump:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup Git
        uses: elastic/oblt-actions/git/setup@v1

      - name: Install Updatecli in the runner
        uses: updatecli/updatecli-action@9c04c99c508b3ac7851020724a912adde546f64b # v2.95.0

      - name: Run Updatecli diff
        if: github.event_name == 'pull_request'
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: updatecli diff --config ./.buildkite/bump-golang.yml

      - name: Run Updatecli apply
        if: github.event_name != 'pull_request'
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: updatecli apply --config ./.buildkite/bump-golang.yml
